{% extends 'music/base.html' %}
{% load static %}



{% block content %}
	
	
<body id="fluidGridSystem">
	<div id="layout" class="full">
		

		{% include 'components/navbar.html' %}
		

		<div class="under_header">
			<img src="{% static 'images/assets/breadcrumbs5.png' %} " alt="#">
		</div><!-- under header -->

		<div class="page-content back_to_up">
			{% include 'music/pages/show_news/roat.html' %}
			

			<div class="row row-fluid clearfix mbf">
				<div class="posts">
					
						{% include 'music/pages/show_news/content.html' %}
						{% include 'music/pages/show_news/coments.html' %}
						

					
					{% if request.user.is_authenticated %}
						
					{% include 'music/pages/show_news/form_add_coment.html' %}
					{% endif %}
						

					
				</div><!-- posts -->

			</div><!-- row clearfix -->
		</div><!-- end page content -->
		{% include 'components/footer.html' %}
		</div>
		
{% endblock content %}
