<footer id="footer">
    <div class="footer-last">
        <div class="row clearfix">
            <span class="copyright">© 2022 by <a href="https://codevz.com/">Codevz</a>. All Rights Reserved. Powered by <a href="https://themeforest.net/user/codevz">Themeforest</a>.</span>
            <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->

            <div class="foot-menu">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="mp3s.html">Мои треки</a></li>
                    <li><a href="videos.html">Популярные</a></li>
                    <li><a href="gallery.html">Новые</a></li>
                </ul><!-- end links -->
            </div><!-- end foot menu -->
        </div><!-- row -->
    </div><!-- end last -->

</footer><!-- end footer -->