{% load static %}
{% load my_tag %}
<!-- popup login -->
<div id="popupLogin">
    <div class="def-block widget">
        <h4> Sign In </h4><span class="liner"></span>
        <div class="widget-content row-fluid">
            <form method="post" action="{% url 'user_login' %}" id="popup_login_form"> 
                {% csrf_token %}  
                {% get_login_form %}
                <button type="submit" class="tbutton small"><span>Войти</span></button>
                <a href="{% url 'user_register' %}" class="tbutton small"><span>Регистрация</span></a>
            </form><!-- login form -->
        </div><!-- content -->
    </div><!-- widget -->
    <div id="popupLoginClose">x</div>
</div><!-- popup login -->
<div id="LoginBackgroundPopup"></div>
<!-- popup login -->
<header id="header" class="glue">
    <div class="row clearfix">
        <div class="little-head">
            
            {% if not request.user.is_authenticated %}
                
            <div id="Login_PopUp_Link" class="sign-btn tbutton small"><span>Войти</span></div>
            {% else %}
            <div class="sign-btn tbutton small"><a href="{% url 'logout_user' %}"><span>{{request.user}}</span></a></div>
            {% endif %}
                

            <div class="social social-head">
                <a href="http://twitter.com/codevz" class="bottomtip" title="Follow us on Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="http://fb.com/codevz" class="bottomtip" title="Like us on Facebook" target="_blank"><i class="icon-facebook"></i></a>
                <a href="https://plus.google.com/u/0/104807493509867599773" class="bottomtip" title="GooglePlus" target="_blank"><i class="icon-google-plus"></i></a>
                <a href="http://instagram.com/" class="bottomtip" title="instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="http://dribbble.com/codevz" class="bottomtip" title="Dribbble" target="_blank"><i class="icon-dribbble"></i></a>
                <a href="https://soundcloud.com/codevz" class="bottomtip" title="Soundcloud" target="_blank"><i class="icon-cloud"></i></a>
                <a href="http://reverbnation.com/" class="bottomtip" target="_blank" title="Reverbnation"><i class="icon-star"></i></a>
                <a href="http://youtube.com/" class="bottomtip" target="_blank" title="YouTube"><i class="icon-youtube-play"></i></a>
                <a href="http://youtube.com/" class="bottomtip" target="_blank" title="Flickr"><i class="icon-flickr"></i></a>
                <a href="http://www.linkedin.com/" class="bottomtip" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
            </div><!-- end social -->

            <div class="search">
                <form action="{% url 'search' %}" id="search" method="get">
                    <input id="inputhead" name="key" type="text" onfocus="if (this.value=='Начать поиск...') this.value = '';" onblur="if (this.value=='') this.value = 'Начать поиск...';" value="Начать поиск..." placeholder="Начать поиск ...">
                    <button type="submit"><i class="icon-search"></i></button>
                </form><!-- end form -->
            </div><!-- search -->
        </div><!-- little head -->
    </div><!-- row -->

    <div class="headdown">
        <div class="row clearfix">
            <div class="logo bottomtip" title="Best and Most Popular Musics">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Best and Most Popular Musics"></a>
            </div><!-- end logo -->

            <nav>
                <ul class="sf-menu">
                    <li {% if title == 'Главная' %}class="current selectedLava"{% endif %}><a href="{% url 'index' %}">Главная</a></li>
                    <li ><a href="index.html">Мои треки</a></li>
                    <li {% if title == 'Треки' %}class="current selectedLava"{% endif %} ><a href="{% url 'tracks' %}">Треки</a></li>
                    <li {% if title == 'Новости' %}class="current selectedLava"{% endif %}><a href="{% url 'news' %}">Новости</a></li>
                </ul><!-- end menu -->
            </nav><!-- end nav -->

        </div><!-- row -->
    </div><!-- headdown -->
</header><!-- end header -->