{% extends 'music/base.html' %}
{% load static %}
{% block content %}
<body id="fluidGridSystem">
	<div id="layout" class="full">
        {% include 'components/navbar.html' %}

		<div class="under_header">
			<img src="{% static 'images/assets/breadcrumbs10.png' %} " alt="#">
		</div><!-- under header -->

		<div class="page-content back_to_up">

			<div class="row row-fluid clearfix mbf">
				<div class="span8 posts">
					<div class="def-block">
						<ul class="tabs">
							<li> <a href="#" class="active">Треки {{request.user}}</a> </li>
						</ul><!-- tabs -->

						<ul class="tabs-content">
							<li id="Latest" class="active">
								<div class="post no-border no-mp clearfix">
									<ul class="tab-content-items">
										
										{% for track in profile.my_tracks_list.all %}
										<li class="grid_6">
											{% include 'music/pages/index/track.html' %}

											
										</li>
										
										
										{% endfor %}
											
									</ul>
								</div><!-- latest -->
							</li><!-- tab content -->
						</ul><!-- end tabs -->

					</div><!-- def block -->
				</div><!-- span8 posts -->
			</div><!-- row clearfix -->
		</div><!-- end page content -->

		{% include 'components/footer.html' %}
	</div>
	
{% endblock content %}