{% extends 'music/base.html' %}




{% block content %}
	
	
<body id="fluidGridSystem">
	<div id="layout" class="full" style="display: flex;">
		

		{% include 'components/navbar.html' %}
		<div class="" >

            <form method="post" style="margin-top: 150px; margin-left: 700px;"  action="{% url 'user_register' %}" id="popup_login_form"> 
                {% csrf_token %}  
                {{form}}
                <button type="submit" class="tbutton small"><span>Регистрация</span></button>
            </form><!-- login form -->
        </div>
		
		{% include 'components/footer.html' %}
		</div>
		
{% endblock content %}
