{% extends 'music/base.html' %}
{% load static  %}

{% block content %}
	
	
<body id="fluidGridSystem">
	<div id="layout" class="full">
		{% include 'components/navbar.html' %}
		<div class="under_header">
			<img src="{% static 'images/assets/breadcrumbs5.png' %} " alt="#">
		</div><!-- under header -->

		<div class="page-content back_to_up">
			<div class="row clearfix mb">
				<div class="breadcrumbIn">
					<ul>
						<li><a href="index.html" class="toptip" title="Homepage"> <i class="icon-home"></i> </a></li>
						<li> Search for: Item </li>
					</ul>
				</div><!-- breadcrumb -->
			</div><!-- row -->

			<div class="row row-fluid clearfix mbf">
				<div class="posts">
					<div class="grid_5">
						<div class="def-block widget">
							<h4> MP3s </h4><span class="liner"></span>
							<div class="widget-content">
								<ul class="tab-content-items">
									
									{% for track in search.musics %}
										
									<li>
											{% include 'music/pages/index/track.html' %}

									</li>
									{% endfor %}
										
								</ul>
							</div><!-- widget content -->
						</div><!-- block -->
					</div><!-- grid -->

					<div class="grid_7">
						<div class="def-block widget">
							<h4> Videos </h4><span class="liner"></span>
							<div class="widget-content">
								<div class="video-grid clearfix">
									
									{% for video in search.videos %}
										
									<a href="video_single_wide.html" class="grid_6">
										<img src="{{video.image.url}}" alt="#">
										<span><strong>{{video.author}}</strong>{{video.title}}</span>
									</a>
									{% endfor %}
										
								</div>
							</div><!-- widget content -->
						</div><!-- block -->
					</div><!-- grid -->

				</div><!-- posts -->

			</div><!-- row clearfix -->
		</div><!-- end page content -->
		{% include 'components/footer.html' %}
	</div><!-- end layout -->

	{% endblock content %}
