{% extends 'music/base.html' %}
{% load static %}
{% block content %}
<body id="fluidGridSystem">
	<div id="layout" class="full">

		{% include 'components/navbar.html' %}

		{% include 'music/pages/index/slider.html' %}

		

		<div class="page-content">
			
		{% include 'music/pages/index/player.html' %}

			<div class="row row-fluid clearfix mbf">
				
			{% include 'music/pages/index/news.html' %}

				<div class="span4">
					<div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0;">
						<h4> Видео </h4><span class="liner"></span>
						<div class="widget-content row-fluid">
							<div class="videos clearfix flexslider">
								<ul class="slides">
									
									{% for video in videos %}
										
									<li class="featured-video">
										<a href="video_single_wide.html">
											<img src="{{video.image.url}}" alt="#">
											<i class="icon-play-sign"></i>
											<h3>{{video.title}}</h3>
											<span>{{video.author}}</span>
										</a>
									</li><!-- slide -->
									{% endfor %}
										
								</ul>
							</div>
						</div><!-- widget content -->
					</div><!-- def block widget videos -->

					<div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0;">
						<h4> Новые треки</h4><span class="liner"></span>
						<div class="widget-content row-fluid">
							<div class="scroll-mp3" style="height: 220px;">
								<div class="content">
									<ul class="tab-content-items">
									
									{% for track in new_tracks %}
									<li class="clearfix">
										{% include 'music/pages/index/track.html' %}

									</li>
									{% endfor %}
										
									</ul>
								</div>
							</div>
						</div><!-- widget content -->
					</div><!-- def block widget popular items -->

				</div><!-- span4 sidebar -->
			</div><!-- row clearfix -->

		</div><!-- end page content -->
	

	{% include 'components/footer.html' %}
	</div>
	
{% endblock content %}
	