{% load static %}

<!-- Start Revolution Slider -->
<div class="sliderr">
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>
                <!-- SLIDE  -->
                 
                 {% for slide  in slides %}
                    
                 <li data-transition="random" data-slotamount="7" data-masterspeed="5000" >
                     <!-- MAIN IMAGE -->
                     <img src="{{slide.image.url}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                     <!-- LAYERS -->
                 </li>
                 {% endfor %}
                    

            </ul><!-- End Slides -->
            <div class="tp-bannertimer"></div>										
        </div>					
    </div>
</div>
<!-- End Revolution Slider -->